@import '@economist/component-wifgobbet';
@import '@economist/component-gridcss';

.gobbet h1 {
  height: auto;
}
.gobbet .mnv-ec-share {
  text-align: right;
}

.GobbetCollection--list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.GobbetCollection--list:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.GobbetCollection--list article{
}

.Gobbet--container {
  width: 86%;
  margin: 0 auto;
}

.Gobbet--container figure {
  margin: 0;
  padding-top: 10px;
  margin-bottom: 60px;
}

.Gobbet--header-title span {
  line-height: 38px;
  font-size: 30px;
  color: #FFF;
}

article:nth-of-type(1) .Gobbet--header-title .Gobbet--title-right {
  background: #08c5b2;
}

article:nth-of-type(2) .Gobbet--header-title .Gobbet--title-right {
  background: #e3120b;
}

article:nth-of-type(3) .Gobbet--header-title .Gobbet--title-right {
  background: #f39200;
}

article:nth-of-type(4) .Gobbet--header-title .Gobbet--title-right {
  background: #4e64b5;
}

.Gobbet--header {
  background: #6e7b82;
  position: relative;
  height: 35px;
}
.Gobbet--header,
.Gobbet--header-aside {
  width: 100%;
}
.Gobbet--header-aside .controls {
  width: 35px;
  height: 35px;
}
.mnv-ec-share-icons {
  position: relative;
}
.Gobbet--container .cube {
  height: auto;
}
.Gobbet--container .fxOn{
  height: 36px;
}
.Gobbet--container .fxOff{
  height: auto;
}

.Gobbet--header-title {
  color: #fff;
  margin: 0 0 0 10px;
}

.GobbetCollection--list .mnv-ec-share-icons a {
  border-radius: 50%;
  background: #929ca2 !important;
  margin: 3px 0 0 10px !important;
}
.GobbetCollection--list .mnv-ec-share-icons a,
.GobbetCollection--list .mnv-ec-share-icons svg {
  width: 30px;
  height: 30px
}
.GobbetCollection--list .mnv-ec-share-icons .fb:hover {
  background: #3b5998 !important;
}
.GobbetCollection--list .mnv-ec-share-icons .twitter:hover {
  background: #00aced !important;
}
.GobbetCollection--list .mnv-ec-share-icons .gplus:hover {
  background: #dd4b39 !important;
}
.GobbetCollection--list .mnv-ec-share-icons .linkedin:hover {
  background: #007bb6 !important;
}
.GobbetCollection--list .mnv-ec-share-icons .whatsapp:hover {
  background: #39b54a !important;
}
.GobbetCollection--list .mnv-ec-share-icons .mail:hover {
  background: #666666 !important;
}
.GobbetCollection--list .mnv-ec-share-icons .Icon {
  border-radius: 50%;
  background: none !important;
}
.GobbetCollection--list .mnv-ec-share-icons svg {
  background: none !important;
}

@media screen and (max-width: 960px) {
  .GobbetCollection--list article{
    min-width: 50%;
  }
}

@media screen and (max-width: 580px) {
  .GobbetCollection--list article{
    min-width: 100%;
  }
  .Gobbet--container {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .Gobbet--header-title {
    font-size: 20px;
  }
}

@media screen and (max-width: 1010px) {
  .GobbetCollection--list .mnv-ec-share-icons a, 
  .GobbetCollection--list .mnv-ec-share-icons svg {
    width: 25px;
    height: 25px; 
  }
  .GobbetCollection--list .mnv-ec-share-icons a {
    margin: 5px 0 0 5px !important;
  }
}

@media screen and (max-width: 620px) {
  .GobbetCollection--list .mnv-ec-share-icons a {
    margin: 4px 0 0 2px !important;
  }
}

@media screen and (max-width: 560px) {
  .GobbetCollection--list .mnv-ec-share-icons a, 
  .GobbetCollection--list .mnv-ec-share-icons svg {
    width: 30px;
    height: 30px; 
  }
  .GobbetCollection--list .mnv-ec-share-icons a {
    margin: 3px 0 0 10px !important;
  }
}
