@import '@economist/component-gobbet/worldif';
@import '@economist/component-gobbet/gobbet';
@import '@economist/component-sharebar';

.gobbet h1 {
  height: auto;
}
.gobbet .mnv-ec-share {
  text-align: right;
}

.react-grid-item {
  transition: all 200ms ease;
  transition-property: left, top;
}
.react-grid-item.cssTransforms {
  transition-property: transform;
}